body {
  background-color: #E0E1DD;
  font-family: 'Oxygen', sans-serif;
}

.main {
  color: #335C67;
  padding-top: 20px;
}

.main p {
  font-size: 2em;
}

/* Header and Footer  */

.header {
  padding-top: 5px;
  color: white;
  background-color: #DB504A;
}

.text-header {
  padding-top: 40px;
  text-align: center;
  font-size: 4em;
}

.footer {
  background-color: #003459;
  color: #E0E1DD;
  position: relative;
  margin-top: 30px;
  height: 150px;
  clear:both;
  padding-top:30px;
}

.col-footer {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Display Results */
.display-results, .error-message {
  display: none;
}
.img-responsive {
    margin: 0 auto;
    padding: 5px;
}
